---
---

@import
  "minima",
  "minima/syntax-highlighting"
;

.tag {
    border-radius: 10px;
    border-style: solid;
    padding: 5px;
    border-width: 2px;
    border-color: #ABABAB;
}

.tag:hover {
    background-color: #ABABAB;
    color: black;
}

body {
    background: #3c3f41;
    color: white;
}

.site-title, .site-title:visited {
    color: white;
}

a:visited {
    color: #80ADDB;
}

a:hover {
    color: white;
}

a {
    color: #A5C4E4;
    text-decoration: none;
}

.footer-col-wrapper {
    color: #ABABAB;
}

.post-meta {
    color: #ABABAB;
}

pre, code, .highlight, .highlighter-rouge {
    background-color: black !important;
}

code.language-plaintext.highlighter-rouge {
    background-color: #2C2F30 !important;
    border: none;
}

.site-nav .page-link {
    color: white;
}

@media screen and (max-width: 600px) {
    .site-nav {
        background-color: #3c3f41;
        .menu-icon > svg {
            fill: white;
        }
    }
}