---
---

@import
  "minima",
  "minima/syntax-highlighting"
;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.tag, #tag-cloud a {
    border-radius: 10px;
    border-style: solid;
    padding: 5px;
    border-width: 2px;
    border-color: #ABABAB;
    color: #ABABAB !important;
    margin-left: 10px;
}

.tag:hover, #tag-cloud a:hover {
    background-color: #ABABAB;
    color: black !important;
    text-decoration: none;
}

#tag-cloud {
    line-height: 40pt;
}

body {
    background: #3c3f41;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    line-height: 20pt;
}

.site-title, .site-title:visited {
    color: white;
    letter-spacing: 0px;
}

a:visited {
    color: #80ADDB;
}

a:hover {
    color: white;
}

a {
    color: #A5C4E4;
    text-decoration: none;
}

.footer-col-wrapper {
    color: #ABABAB;
}

.post-meta {
    color: #ABABAB;
}

pre, code, .highlight, .highlighter-rouge {
    background-color: black !important;
}

code.language-plaintext.highlighter-rouge {
    background-color: #2C2F30 !important;
    border: none;
}

.site-nav .page-link {
    color: white;
}

@media screen and (max-width: 600px) {
    .site-nav {
        background-color: #3c3f41;
        .menu-icon > svg {
            fill: white;
        }
    }
}

.post-list hr {
    margin-left: 10px;
    margin-right: 10px;
    border-color: #303030;
    background-color: #303030;
    color: #303030;
}

.post-title {
    font-size: 42px;
    letter-spacing: 0px;
    line-height: 1.1;
}

blockquote {
    color: #ABABAB;
    border-left: 4px solid #ABABAB;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: 0px;
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #333638;
}

#search-input {
    width: 100%;
    font-size: 30px;
    outline: none;
    background-color: #2C2F30;
    color: white;
    padding: 20px;
    border-radius: 20px;
    border-color: transparent;
    margin-bottom: 30px;
}

#tag-cloud .set-1 {
    font-size: 10px;
}

#tag-cloud .set-2 {
    font-size: 16px;
}

#tag-cloud .set-3 {
    font-size: 21px;
}

#tag-cloud .set-4 {
    font-size: 27px;
}

#tag-cloud .set-5 {
    font-size: 32px;
}

table tr:nth-child(even) {
    background-color: #2C2F30;
}

table th {
    background-color: #2C2F30;
    border: 1px solid #dedede;
    border-bottom-color: #c9c9c9;
}

table {
    color: white;
    width: auto;
    display: inline-block;
}